<div class="main-div">
<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <h2>LOGIN</h2>
      <mat-error *ngIf="!loginValid">
        The email and token were not recognized
      </mat-error>
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="username" name="email" required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field><br>
      <mat-form-field>
        <input matInput type="password" placeholder="Token" [(ngModel)]="token" name="token" required>
        <mat-error>
          Please provide a valid token
        </mat-error>
      </mat-form-field><br>
      <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>

      <p>Don't have an account? <a routerLink="/register">Register here</a></p>

    </form>
  </mat-card-content>
</mat-card>
</div>
