.add-user {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.add-user > button {
  background-color: black;
}

.view-users {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
}

.search-bar {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.list-users {
  width: 70%;
  margin: auto;
}

mat-grid-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

mat-card-header {
  margin: 10px;
}

@media (max-width: 440px) {
  mat-card-header {
    word-wrap: break-word;
  }
}

mat-card {
  margin-bottom: 10px;
}

mat-grid-tile {
  background: #f5f5f5;
  border-radius: 5px;
}

@media (max-width: 440px) {
  mat-grid-tile {
    display: grid;
  }
}

.conteiner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 40px;
}

@media (max-width: 440px) {
  .conteiner {
    margin: 0px;
    grid-template-columns: 1fr;
  }
}

mat-icon , .mat-card-avatar{
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.info-users {
  display: flex;
  flex-direction: column;
}

.mat-mdc-card-header {
  width: 100%;
}

@media (max-width: 440px) {
  mat-card-title {
    font-size: small;
  }
}

@media (max-width: 440px) {
  mat-card-subtitle {
    word-wrap: break-word;
    width: 80%;
  }
}

mat-card-content {
  display: flex;
  align-items: center;
  justify-content: end;
}

@media (max-width: 440px) {
  mat-card-content {
    justify-content: center;
  }
}

.remove {
  border: solid;
}

mat-paginator {
  position: sticky;
  bottom: 0;
  width: 100%;
}

.mat-mdc-paginator-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 8px;
  flex-wrap: wrap-reverse;
  width: 100%;
}
